@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<section id="home">
    <div class="container">
        <h2>Simple OPENAI testing Application</h2>
        <p>Check out the OPENAI page to make a simple request</p>
    </div>
</section>
